.expenses-container {
  width: 600px;
  height: 400px;
  background-color: lightgrey;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}

.row:nth-of-type(even) {
  background: rgb(255, 255, 255);
}

.row:nth-of-type(odd) {
  background: rgb(179, 180, 180);
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 100%;
  flex: 1;
  font-weight: bold;
}

h2 {
  color: rgb(129, 122, 122);
}
.footer {
  text-align: right;
  padding-top: 20px;
}

.date-header,
.category-header,
.amount-header {
  color: rgb(2, 2, 2);
  background-color: rgb(178, 233, 247);
}

.inputRow {
  margin-top: 20px;
}
