.sidebar {
  background-color: rgb(204, 199, 199);
  width: 200px;
  height: 800px;
}
.sidebar ul {
  list-style: none;
  background-color: rgb(204, 199, 199);
  padding: 0;
  font-weight: bold;
}

li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px 8px;
  background-color: rgb(150, 147, 147);
  border: 1px solid black;
}

li a:hover {
  background-color: rgb(230, 112, 131);
  color: black;
}

.active {
  background-color: rgb(230, 112, 131);
  color: black;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 25px;
  color: rgb(230, 112, 131);
  font-weight: bold;
  background-color: rgb(204, 199, 199);
  width: 200px;
}

.dashboard {
  margin-left: 200px;
  height: 400px;
  text-align: center;
}
