.row:nth-of-type(even) {
  background: white;
}

.row:nth-of-type(odd) {
  background: rgb(179, 180, 180);
}

.date,
.category,
.amount {
  background-color: white;
}

.btn-save button{
  margin-left: 400px;
margin-bottom:10px;
background-color: lightblue;
text-decoration: none;
border:none;
font-weight: bold;

}